form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.form {
    overflow-y: scroll;
    margin: var(--sp-sm) 0;
    padding: var(--sp-md);

    .form__group {
        display: flex;
        flex-direction: column;

        label {
            font-size: var(--fs-tertiary);
        }

        input {
            font-size: var(--fs-primary);
            height: 50px;
            padding: 0 var(--sp-sm);
            margin-top: 10px;
            outline: none;
        }

        select {
            cursor: pointer;
            font-size: var(--fs-primary);
            height: 50px;
            padding: 0 var(--sp-sm);
            padding-top: 15px;
            margin-top: 10px;
            outline: none;

            option {
                margin: 16px;
                zoom: 1.1;
            }
        }

        .error {
            font-size: 14px;
            margin-top: var(--sp-sm);
            padding: 0 var(--sp-sm);
            height: 14px;
            display: block;
        }
    }

    .form__group + .form__group {
        margin-top: var(--sp-md);
    }

    .form__group.active {

        input, select {
            border: solid 1px red;
        }

        .error {
            color: red;
        }
    }

    .quill {
        margin-top: var(--sp-md);
    }

    .ql-container {
        border-bottom-left-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
        background: #fefcfc;
    }
    
    .ql-editor {
        font-size: var(--fs-primary);
        min-height: 18em;
    }
    
    .ql-editor.active {
        border: solid 1px red;

        .error {
            color: red;
        }
    }
    
    .themeSwitcher {
        margin-top: 0.5em;
        font-size: small;
    }
}

.form__btn {
    padding: var(--sp-md) 0;
    display: flex;
    border-top: solid 1px gray;

    button {
        padding: var(--sp-sm) var(--sp-md);
        border: none;
        outline: none;
        font-size: var(--fs-primary);
        border-radius: 3px;
        min-height: 45px;
        min-width: 150px;
        cursor: pointer;
        transition: all 0.2s linear;
        font-weight: 500;
        color: white;
        background-color: var(--bg-primary);
        border: solid 1px var(--bg-primary);
        flex: 1;

        &:hover {
            opacity: 0.9;
        }
    }
}
