.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    // place-items: center;
    align-items: center;
    justify-items: center;
    z-index: 9999;
    overflow-y: scroll;
    padding: 100px 0;

    .modal__box {
        width: 50%;
        background-color: var(--bg-tertiary-draker);
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        padding: var(--sp-md);
        z-index: 9999;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .modal__header {
            position: relative;
            border-bottom: solid 1px gray;

            span {
                display: block;
                padding: var(--sp-md);
                text-align: center;
                font-size: var(--fs-cart);
                font-weight: bold;
            }

            i {
                position: absolute;
                right: 0;
                top: 0;
                cursor: pointer;
                font-size: var(--fs-cart);
            }
        }

        .modal__body {
            flex: 1;
            // overflow-y: scroll;
        }

        .modal__footer {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-top: var(--sp-md);
            padding-right: 10px;

            .footer__btn {
                height: 45px;
                padding: 0 var(--sp-md);
                border-radius: 3px;
                font-size: var(--fs-primary);
                background-color: var(--bg-primary);
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--cl-tertiary);
            }
        }
    }
}
