.content-list-page {
    display: flex;
    height: 100vh;
    padding: 0 var(--sp-xxl);
    background-color: var(--bg-tertiary-draker);
    position: relative;
    max-width: 2000px;
    width: 100%;

    .container {
        background-color: var(--bg-tertiary-draker);
        flex: 1;
        height: 100vh;
        margin-right: calc(var(--sp-xxl) * -1);
        display: flex;
        flex-direction: column;

        .container__right {
            position: relative;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: var(--sp-lg) 0;
            padding-right: var(--sp-xxl);
            padding-left: var(--sp-lg);

            .container__panigation {
                max-width: 1200px;
                width: 100%;
                height: 200px;
                text-align: center;
                padding: 3.2rem 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .container__wrapper {
            display: flex;
            flex-direction: column;
            max-width: 1200px; 
            width: 100%;

            .container_keyword {
                display: block;
                padding: var(--sp-md) 0;
                font-size: var(--fs-primary);

                .keyword {
                    color: var(--bg-primary);
                    font-size: var(--fs-tertiary);
                }

                .clear-key-word {
                    cursor: pointer;
                    border-radius: 50%;
                    padding: 2px 4px;
                    display: inline-block;
                    transform: translateX(5px) translateY(-10px);
                    font-size: var(--fs-primary);
                    transition: all 0.2s linear;
                    background-color: var(--bg-primary);
                    color: var(--cl-tertiary);

                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
            
            .container__wraper-list {
                position: relative;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .container__list {
                    width: 100%;
                    min-height: 650px;
                    display: grid;
                    grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );
                }
            }
        }
    }

    .container__title {
        height: 6.1rem;
        background-color: var(--bg-tertiary);
        margin-bottom: var(--sp-sm);
        border-radius: 0.3rem;
        display: flex;

        div {
            display: flex;
            align-items: center;
            height: 100%;
            padding: var(--sp-sm) var(--sp-md);
            border-bottom: solid 0.4rem var(--bg-primary);

            span {
                text-transform: uppercase;
                display: block;
                font-size: var(--fs-tertiary);
                color: var(--bg-primary);
                line-height: 1.6;
            }
        }
    }
}
